/*=== Aplicando CSS Global===*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #1f8a70;
}
img{
    width: 100%
}
ul{
    list-style-type: none;
}
p{
    padding-bottom: 5px;
    text-align: justify;
    text-justify: auto;
}
html{
    scroll-behavior: smooth;
}

/*=== Aplicando CSS al encabezado===*/
#logo{
    width: 40%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 5px;
}
#menu{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
section[id] {
    scroll-margin-top: 200px;
}
#imagenFondo{
    padding-top: 80px;
}
/*=== Aplicando comportamiento resposive o adaptativo===*/
/*small devices (cellphones, 320px and up)*/
@media (min-width: 320px) {
    #encabezado{
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        align-items: center;
        position: fixed;
        width: 100%;
        z-index: 1000;
        background-color: #1f8a70;
    }
    #opcionesIzquierdo{
        display: grid;
        grid-template-columns: 1fr;
    }
    #principal{
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 5px;
        margin: 5px;
    }
    #principal p{
        display: grid;
        padding: 15px;
    }
    h2{
        display: grid;
        margin-left: 15px;
    }
    #quienesSomos{
        padding-top: 10px;
        margin: 5px;
    }
    #porQueElegirnos{
        padding-top: 10px;
        margin: 5px;
    }
    #propuestaEducativa{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-around;
        padding: 70px;
        padding-top: 30px;
    }
    #propuestaEducativa h3{
        display: grid;
        padding-top: 5px;
        justify-content: center;
    }
    #propuestaEducativa h2{
        display: grid;
        margin-left: -60px;
    }
    #propuestaEducativa img{
        display: grid;  
        border-radius: 100%;
        justify-items: center;
        padding: 30px;
        padding-bottom: 5px;
    }
    #ultimasNoticias{
        display: grid;
        padding: 15px;
    }
    #ultimasNoticias img{
        display: grid;
        padding: 15px;
    }
    #ultimasNoticias h3{
        display: grid;
        padding-top: 15px;
        margin-left: 15px;
    }
    #ultimasNoticias p{
        display: grid;
        margin-top: -25px;
        padding: 30px;
    }
    #redesSociales{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 20px;
        justify-items: center;
        font-size: xx-large;
    }
    ion-icon{
        color: black;
        font-size: 2rem;
    }
    #mapa{
        display: grid;
        justify-items: center;
        padding-top: 10px;
    }
    #mapa h3{
        display: grid;
        justify-items: center;
        padding-bottom: 10px;
        font-weight: 700;
    }
    #contacto{
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 30px;
        justify-items: center;
        row-gap: 10px;
        border: 5px;
        font-weight: bold;   
    }
    input, text{
        display: grid;
        width: 100%;
        font-family: initial;
    }
    textarea[name="consulta"]{
        font-family: initial;
        font-size: medium;
    }
    input[type="submit"]{
        display: grid;
        width: 25%;
    }
    #subir{
        display: grid;
        padding: 15px;
        grid-template-columns: 1fr;
        justify-items: center;
        font-weight: bolder;
    }
}
/* Medium devices (tablets, 768px and up)*/
/*=== Trabajando con CSS-GRID===*/
@media (min-width: 768px) { 
    /*=== Aplicando CSS al encabezado===*/
    #encabezado{
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: center;
        position: fixed;
        width: 100%;
        z-index: 1000;
        background-color: #1f8a70;
    }
    #menu{
        display: grid;
        grid-template-columns: 1fr;
    }
    #opcionesIzquierdo{
        display: grid;
        grid-template-columns: repeat(5,1fr);
    }
    /*=== Aplikcando CSS a la seccion principal===*/
    #quienesSomos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        margin-left: 10px;
        align-items: center;
    }
    #porQueElegirnos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        margin-left: 10px;
        align-items: center;
    }
    h1{
        margin: 5px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    h2{
        margin-left: 10px;
        margin-bottom: -20px;
        padding-top: 25px;
    }
    /*=== Aplicando CSS a la Propuesta Educativa===*/
    #propuestaEducativa{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 30px;
        justify-content: space-evenly;
        gap: 70px;
    }
    #propuestaEducativa h3{
        display: grid;
        justify-items: center;
    }
    /*=== Aplicando CSS a la Ultimas Noticias===*/
#ultimasNoticias{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 15px;
  grid-gap: 10px;
}
.noticia {
  padding: 10px;
}
.noticia h2 {
  font-size: 1.5em;
}
.noticia h3 {
    justify-items: center;
  }
.noticia p {
  margin-top: 0;
  justify-items: center;
}
.noticia img {
  width: 100%;
  justify-items: center;
} 
/*=== Aplicando CSS al Footer===*/
#piePagina{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: -10px;
    justify-items: center;
    align-items: center;
    color: black;
    gap: 50px;
}
#redesSociales{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}
ion-icon{
    color: black;
    font-size: 2rem;
}
#subir{
    display: grid;
    padding: 25px;
    grid-template-columns: 1fr;
    justify-items: center;
    font-weight: bolder;
}
#mapa h3{
    display: grid;
    padding-bottom: 30px;
}
#contacto{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    border: 5px;   
}
input, text{
    display: grid;
    width: 100%;
    font-family: initial;
}
textarea[name="consulta"]{
    font-family: initial;
    font-size: medium;
    font-weight:lighter;
}
input[type="submit"]{
    display: grid;
    width: 25%;
}

}
